.background {
    position: -ms-page;
    width: 100vw;
    height:max-content;
    top: 0;
    left: 0;
    background: #fff;
    overflow: hidden;
}

.background span {
    width: 9vmin;
    height: 9vmin;
    border-radius: 9vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 12;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #9b39c6;
    top: 81%;
    left: 47%;
    animation-duration: 83s;
    animation-delay: -97s;
    transform-origin: -16vw 5vh;
    box-shadow: 18vmin 0 2.494237390591954vmin currentColor;
}
.background span:nth-child(1) {
    color: #9b39c6;
    top: 74%;
    left: 73%;
    animation-duration: 342s;
    animation-delay: -316s;
    transform-origin: -4vw -8vh;
    box-shadow: 18vmin 0 2.835840709178254vmin currentColor;
}
.background span:nth-child(2) {
    color: #d06fc7;
    top: 96%;
    left: 29%;
    animation-duration: 276s;
    animation-delay: -331s;
    transform-origin: 23vw -10vh;
    box-shadow: 18vmin 0 2.871973203905611vmin currentColor;
}
.background span:nth-child(3) {
    color: #e4caff;
    top: 98%;
    left: 77%;
    animation-duration: 282s;
    animation-delay: -17s;
    transform-origin: -17vw -14vh;
    box-shadow: 18vmin 0 3.229250910189026vmin currentColor;
}
.background span:nth-child(4) {
    color: #9b39c6;
    top: 92%;
    left: 55%;
    animation-duration: 198s;
    animation-delay: -89s;
    transform-origin: -19vw -23vh;
    box-shadow: 18vmin 0 2.61377151484232vmin currentColor;
}
.background span:nth-child(5) {
    color: #9b39c6;
    top: 24%;
    left: 23%;
    animation-duration: 198s;
    animation-delay: -358s;
    transform-origin: -3vw 16vh;
    box-shadow: 18vmin 0 2.686817994457957vmin currentColor;
}
.background span:nth-child(6) {
    color: #e4caff;
    top: 9%;
    left: 59%;
    animation-duration: 29s;
    animation-delay: -22s;
    transform-origin: -13vw -24vh;
    box-shadow: 18vmin 0 2.4508916427205825vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffb3d9;
    top: 61%;
    left: 80%;
    animation-duration: 218s;
    animation-delay: -287s;
    transform-origin: -10vw 16vh;
    box-shadow: 18vmin 0 3.018915940527285vmin currentColor;
}
.background span:nth-child(8) {
    color: #d06fc7;
    top: 52%;
    left: 12%;
    animation-duration: 300s;
    animation-delay: -288s;
    transform-origin: 2vw -2vh;
    box-shadow: 18vmin 0 2.974894402106841vmin currentColor;
}
.background span:nth-child(9) {
    color: #9b39c6;
    top: 45%;
    left: 49%;
    animation-duration: 177s;
    animation-delay: -246s;
    transform-origin: 2vw 2vh;
    box-shadow: 18vmin 0 2.9034371773001104vmin currentColor;
}
.background span:nth-child(10) {
    color: #d06fc7;
    top: 12%;
    left: 70%;
    animation-duration: 19s;
    animation-delay: -191s;
    transform-origin: 15vw -7vh;
    box-shadow: -18vmin 0 2.6119740143755834vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffb3d9;
    top: 40%;
    left: 58%;
    animation-duration: 178s;
    animation-delay: -223s;
    transform-origin: -17vw 4vh;
    box-shadow: -18vmin 0 2.8998695856150802vmin currentColor;
}
.background span:nth-child(12) {
    color: #e4caff;
    top: 77%;
    left: 79%;
    animation-duration: 277s;
    animation-delay: -110s;
    transform-origin: -4vw -5vh;
    box-shadow: -18vmin 0 2.8574827772114895vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffb3d9;
    top: 66%;
    left: 63%;
    animation-duration: 94s;
    animation-delay: -84s;
    transform-origin: 16vw -14vh;
    box-shadow: 18vmin 0 2.3289589982150782vmin currentColor;
}
.background span:nth-child(14) {
    color: #d06fc7;
    top: 25%;
    left: 81%;
    animation-duration: 315s;
    animation-delay: -199s;
    transform-origin: 17vw 4vh;
    box-shadow: -18vmin 0 2.66740633700194vmin currentColor;
}
.background span:nth-child(15) {
    color: #9b39c6;
    top: 89%;
    left: 71%;
    animation-duration: 313s;
    animation-delay: -215s;
    transform-origin: -16vw -20vh;
    box-shadow: 18vmin 0 3.0146945450979863vmin currentColor;
}
.background span:nth-child(16) {
    color: #9b39c6;
    top: 15%;
    left: 68%;
    animation-duration: 311s;
    animation-delay: -369s;
    transform-origin: 11vw -14vh;
    box-shadow: -18vmin 0 2.4361680405356223vmin currentColor;
}
.background span:nth-child(17) {
    color: #d06fc7;
    top: 47%;
    left: 98%;
    animation-duration: 114s;
    animation-delay: -126s;
    transform-origin: -8vw 16vh;
    box-shadow: 18vmin 0 3.0360589487183582vmin currentColor;
}
.background span:nth-child(18) {
    color: #d06fc7;
    top: 78%;
    left: 75%;
    animation-duration: 264s;
    animation-delay: -111s;
    transform-origin: 1vw -14vh;
    box-shadow: -18vmin 0 2.5240464640013025vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffb3d9;
    top: 75%;
    left: 82%;
    animation-duration: 366s;
    animation-delay: -63s;
    transform-origin: 6vw 13vh;
    box-shadow: -18vmin 0 2.9827179904484855vmin currentColor;
}
.background span:nth-child(20) {
    color: #e4caff;
    top: 31%;
    left: 89%;
    animation-duration: 153s;
    animation-delay: -131s;
    transform-origin: -7vw -16vh;
    box-shadow: -18vmin 0 2.644601508936156vmin currentColor;
}
.background span:nth-child(21) {
    color: #ffb3d9;
    top: 1%;
    left: 45%;
    animation-duration: 120s;
    animation-delay: -324s;
    transform-origin: -22vw -8vh;
    box-shadow: 18vmin 0 2.310026885965473vmin currentColor;
}
.background span:nth-child(22) {
    color: #ffb3d9;
    top: 53%;
    left: 11%;
    animation-duration: 357s;
    animation-delay: -373s;
    transform-origin: -21vw 8vh;
    box-shadow: -18vmin 0 2.633762465854085vmin currentColor;
}
.background span:nth-child(23) {
    color: #e4caff;
    top: 55%;
    left: 100%;
    animation-duration: 266s;
    animation-delay: -316s;
    transform-origin: -15vw 11vh;
    box-shadow: -18vmin 0 2.630260147054012vmin currentColor;
}
.background span:nth-child(24) {
    color: #e4caff;
    top: 38%;
    left: 12%;
    animation-duration: 83s;
    animation-delay: -79s;
    transform-origin: -8vw -11vh;
    box-shadow: -18vmin 0 2.3482642175283734vmin currentColor;
}
.background span:nth-child(25) {
    color: #d06fc7;
    top: 24%;
    left: 8%;
    animation-duration: 205s;
    animation-delay: -297s;
    transform-origin: -17vw -18vh;
    box-shadow: -18vmin 0 2.688157889267097vmin currentColor;
}
.background span:nth-child(26) {
    color: #d06fc7;
    top: 91%;
    left: 14%;
    animation-duration: 277s;
    animation-delay: -124s;
    transform-origin: 11vw -6vh;
    box-shadow: 18vmin 0 2.9927178688472282vmin currentColor;
}
.background span:nth-child(27) {
    color: #ffb3d9;
    top: 55%;
    left: 63%;
    animation-duration: 67s;
    animation-delay: -285s;
    transform-origin: -18vw -4vh;
    box-shadow: -18vmin 0 2.847067695202921vmin currentColor;
}
.background span:nth-child(28) {
    color: #e4caff;
    top: 21%;
    left: 92%;
    animation-duration: 375s;
    animation-delay: -218s;
    transform-origin: -6vw 11vh;
    box-shadow: -18vmin 0 2.6813534256453044vmin currentColor;
}
.background span:nth-child(29) {
    color: #ffb3d9;
    top: 64%;
    left: 76%;
    animation-duration: 154s;
    animation-delay: -137s;
    transform-origin: 25vw 13vh;
    box-shadow: -18vmin 0 2.592663125418288vmin currentColor;
}
.background span:nth-child(30) {
    color: #e4caff;
    top: 25%;
    left: 89%;
    animation-duration: 325s;
    animation-delay: -278s;
    transform-origin: -6vw -22vh;
    box-shadow: -18vmin 0 2.8382997099852307vmin currentColor;
}
.background span:nth-child(31) {
    color: #583C87;
    top: 56%;
    left: 73%;
    animation-duration: 284s;
    animation-delay: -323s;
    transform-origin: -12vw 13vh;
    box-shadow: -18vmin 0 2.250245602091792vmin currentColor;
}
.background span:nth-child(32) {
    color: #ffb3d9;
    top: 33%;
    left: 57%;
    animation-duration: 143s;
    animation-delay: -62s;
    transform-origin: 15vw 1vh;
    box-shadow: 18vmin 0 2.3964866724311533vmin currentColor;
}
.background span:nth-child(33) {
    color: #ffb3d9;
    top: 35%;
    left: 87%;
    animation-duration: 13s;
    animation-delay: -345s;
    transform-origin: 7vw -20vh;
    box-shadow: 18vmin 0 3.030349696465028vmin currentColor;
}
.background span:nth-child(34) {
    color: #9b39c6;
    top: 81%;
    left: 84%;
    animation-duration: 98s;
    animation-delay: -13s;
    transform-origin: -17vw 14vh;
    box-shadow: 18vmin 0 2.4686983145838317vmin currentColor;
}
.background span:nth-child(35) {
    color: #e4caff;
    top: 35%;
    left: 8%;
    animation-duration: 348s;
    animation-delay: -303s;
    transform-origin: 5vw 4vh;
    box-shadow: -18vmin 0 2.694142711224086vmin currentColor;
}
.background span:nth-child(36) {
    color: #9b39c6;
    top: 73%;
    left: 81%;
    animation-duration: 37s;
    animation-delay: -336s;
    transform-origin: -1vw 15vh;
    box-shadow: -18vmin 0 2.5503020663909175vmin currentColor;
}
.background span:nth-child(37) {
    color: #9b39c6;
    top: 87%;
    left: 99%;
    animation-duration: 101s;
    animation-delay: -231s;
    transform-origin: -4vw 1vh;
    box-shadow: -18vmin 0 2.4494639028178518vmin currentColor;
}
.background span:nth-child(38) {
    color: #e4caff;
    top: 95%;
    left: 34%;
    animation-duration: 213s;
    animation-delay: -192s;
    transform-origin: 15vw -24vh;
    box-shadow: 18vmin 0 2.516592632747899vmin currentColor;
}
.background span:nth-child(39) {
    color: #e4caff;
    top: 32%;
    left: 66%;
    animation-duration: 315s;
    animation-delay: -42s;
    transform-origin: 1vw 1vh;
    box-shadow: -18vmin 0 2.387104172618541vmin currentColor;
}
